body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h1 {
    color: #1B1D1E;
}

a{
    color: #177EE6;
    text-decoration: none;
}

a:hover {
    color: #0A3B66;
}
.button {
    border: none;
    border-radius: 4px;
}
button:hover {
    cursor: pointer;
    
}

.micOn {
    background-color:#177EE6;
    color: white;

}

.micOn:hover {
    background-color: #63B1FF;
}

.micOff{
    background-color: white;
    color: #177EE6;
    border: 1px solid #D8DFE6;
}

.micOff:hover{
    background-color: #F2F9FF;
}